services:
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: actix_web_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      DATABASE_URL: postgres://postgres:admin123@db:5432/actix_web_db
    command: ["./backend"]

volumes:
  db-data:
